<div class="background">
    <div class="hidden">This is the order screen. We have three options. Delivery, carryout, domino's hotspot. The elements are stacked ontop of each other. For delivery we will deliver pizza to your address.</div>
        <div class="menu">
            <div class="home_div" [routerLink]="'/home'">
                <img src="./assets/images/home_icon-01.png" class="home">
            </div>
            <img src="./assets/images/dominos_logo-01.png" class="logo">
        </div>
    
        <div class="button1" [routerLink]="'/delivery'">
            <h3 class="button1-text">Delivery</h3>
        </div>
        <div class="button2">
            <h3 class="button2-text">Carryout</h3>
        </div>
        <div class="button3">
                <h3 class="button2-text">Domino's Hotspot</h3>
        </div>
    </div>