<div class="background">
        <div class="menu">
            <div class="home_div" [routerLink]="'/delivery'">
            <img src="./assets/images/home_icon-01.png" class="home">
            </div>
            <h3 class="text-box">Menu</h3>
        </div>
    
        <div class="button1" [routerLink]="'/order-crusts'">
            <h3 class="button1-text">Build Your Own Pizza</h3>
        </div>
        <div class="button2">
            <h3 class="button2-text">See More</h3>
        </div>
    </div>