<div class="background">
    <div class="hidden">This is the order crust page. We have severl options for selecting crusts. The see more option will show more options for crusts.
        currently we have three options. Hand tossed. handmade pan. crunchy thin crust.
    </div>
        <div class="menu">
            <div class="home_div" [routerLink]="'/order-menu'">
            <img src="./assets/images/home_icon-01.png" class="home">
            </div>
            <h3 class="text-box">Crusts</h3>
        </div>
    
        <div class="button1" [routerLink]="'/order-sizes'">
            <h3 class="button1-text">Hand Tossed</h3>
        </div>
        <div class="button2">
            <h3 class="button2-text">Handmade Pan</h3>
        </div>
        <div class="button3">
            <h3 class="button3-text">Crunchy Thin Crust</h3>
        </div>
        <div class="button4">
            <h3 class="button4-text">See More</h3>
        </div>
    </div>