<div class="background">
    <div class="hidden">this is the order details page. we have three options. set quantity. see more.
        finally we have three optons to add to order. 
        additionally we have the home icon on the upper left hand corener which will take you to the previous screen.
    </div>
        <div class="menu">
            <div class="home_div" [routerLink]="'/order-sizes'">
            <img src="./assets/images/home_icon-01.png" class="home">
            </div>
            <h3 class="text-box">Details</h3>
        </div>
    
        <div class="button1" [routerLink]="'/checkout'">
            <h3 class="button1-text">Set Quantity</h3>
        </div>
        <div class="button2">
            <h3 class="button2-text">See More</h3>
        </div>
        <div class="button3">
            <h3 class="button3-text">Add to Order</h3>
        </div>
    </div>