.background{
    height: 100%;
    width: 100%;
    background-color: white;
}

.menu{
    width: 100%;
    height: 150px;
    background-color: #0078ad;
}

.home_div{
    height: 100%;
    width: 45%;
    background-color: white;
}

.home{
    position: absolute;
    height: 100px;
    width:100px;
    left: 30px;
    top: 20px;
}

.text-box{
    position: absolute;
    right: 30px;
    top:20px;
    font-size: 2em;
    color: white;
}

.text-box1{
    position: absolute;
    right: 30px;
    top:40px;
    font-size: 2em;
    color: white;
}

.button1{
    height: 15%;
    width: 90%;
    background-color: #e31836;
    display: inline-block;
    margin: 19px 19px 19px 19px;
}


.button2{
    height: 15%;
    width: 90%;
    background-color: #e31836;
    display: inline-block;
    margin: 0px 19px 19px 19px;
}

.button3{
    height: 23%;
    width: 90%;
    background-color: #e31836;
    display: inline-block;
    margin: 0px 19px 19px 19px;
}

.button1-text{
    color: white;
    text-align: center;
    font-size: 2em;
}

.button2-text{
    color: white;
    text-align: center;
    font-size: 2em;
}

.button3-text{
    color: white;
    text-align: center;
    font-size: 2em;
}

.hidden
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}