<div class="background">
    <div class="menu">
        <div class="home_div" [routerLink]="'/order-details'">
        <img src="../assets/images/home_icon-01.png" class="home">
        </div>
    </div>
    <h3 class="top-text">Pizza</h3>
    <h3 class="top-text-secondary">Small</h3>

    <h3 class="secondary-text">Hand Tossed</h3>
    <h3 class="secondary-text-one">Cheese, Robust</h3>
    <h3 class="secondary-text-two">Inspired</h3>
    <h3 class="secondary-text-three">Tomato Sauce</h3>
    <h3 class="secondary-text-four">Quantity: (ONE)</h3>

    <h3 class="secondary-text-five">Food & Beverage:</h3>
    <h3 class="secondary-text-six">$9.99</h3>

    <h3 class="secondary-text-seven">Taxes:</h3>
    <h3 class="secondary-text-eight">$0.92</h3>

    <h3 class="secondary-text-nine">Total: $10.91</h3>

    <div class="button1">
        <h3 class="button1-text">Checkout</h3>
    </div>
</div>