<div class="background">
        <div class="menu">
            <div class="home_div" [routerLink]="'/order-crusts'">
            <img src="./assets/images/home_icon-01.png" class="home">
            </div>
            <h3 class="text-box">Sizes</h3>
        </div>
    
        <div class="button1" [routerLink]="'/order-details'">
            <h3 class="button1-text">Small (10 Inch)</h3>
        </div>
        <div class="button2">
            <h3 class="button2-text">Medium (12 Inch)</h3>
        </div>
        <div class="button3">
            <h3 class="button3-text">Large (14 Inch)</h3>
        </div>
        <div class="button4">
            <h3 class="button4-text">See More</h3>
        </div>
    </div>